.rigestration {
    width: 400px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    top: 90px;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.7);
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    &__title {
        font-size: 25px;
    }

    &__nickName {
        width: 300px;
        height: 40px;
        border:none;
        border-radius: 10px;
    }
    &__nickName::placeholder {
        font-size: 17px
       
    }

    &__password {
        width: 300px;
        height: 40px;
        border:none;
        border-radius: 10px;
    }
    &__password::placeholder {
        font-size: 17px
       
    }
    &__answer {
        display:flex;
        flex-direction: column;
        gap: 0 10px;
        justify-content: center;
        align-items: center;
    }
    &__accept {
    }

    &__labelBtn {
        font-size: 17px;
    }
    &__btn {
        width: 300px;
           height: 40px;
           border:none;
           border-radius: 10px;
           background: linear-gradient(to right, #e57aff, #4b0082)
    }

    &__labelBtn {
    }
}
